<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string></string>
	<key>contactName</key>
	<string>Igor Kozlov</string>
	<key>description</key>
	<string>Support for ES6+ syntax.

Based on https://github.com/gandm/language-babel</string>
	<key>name</key>
	<string>JavaScript Babel</string>
	<key>uuid</key>
	<string>EE0A6795-DB22-4317-9B93-319E7ED05AE2</string>
</dict>
</plist>
